  .Nav {
    width: 100vw;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    justify-content: flex-end;
    background-color: gray;
    color: white;
    opacity: 0.5;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(6px + 1vmin);
  }
  
  a {
    text-decoration: none;
    display: flex;
  }