#map-container {
    overflow: hidden;
}

.placeIcon {
    background: none;
    border: none;
    cursor: pointer;
}

.placeIcon img {
    height: 2rem;
}

#location-bar {
    width: 100%;
    display: flex;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5%;
    flex-grow: 1;
}

#search-bar img {
    margin-right: 1rem;
    height: 1.5em;
}

#search-bar input {
    flex-grow: 1;
    font-size: 1rem;
}

#btn-current-location {
    width: 2.5rem;
    height: 100%;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(54, 54, 54);
    cursor: pointer;
}

#btn-current-location:hover {
    color: rgb(63, 20, 141);
}