#placeIcon {
    background: none;
    border: none;
    cursor: pointer;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em;
}

#search-bar img {
    margin-right: 0.2em;
    height: 1.5em;
}

#search-bar input {
    flex-grow: 1;
}