.restaurantCard {
    background: white;
    opacity: 0.5;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;;
    bottom: -80%;
    height: 90%;
    width: 100%;
    transition: all .3s ease-out;
    z-index: 2;
}
  /* .hid-box {
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    background: #428bca;
    height: 100%;
  } */
  
  /* .restaurantCard:hover {
    opacity: 0.8;
    bottom: 0%;
  } */