.restaurantCard {
    background: white;
    opacity: 0.9;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;;
    bottom: -80%;
    height: 90%;
    width: 100%;
    transition: all .3s ease-out;
    z-index: 2;
}

.Rating--Star {
    filter: grayscale(100%); 
    opacity: .3; 
}

.Rating--Star__active {
    filter: grayscale(0%); 
    opacity: .9;
}
  
.restaurantCard:hover {
    opacity: 0.8;
    bottom: 0%;
}